body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#category-select {
    display: block;
    margin: 10px auto;
}

.university {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.university-name {
    font-weight: bold;
}

.category-info {
    font-size: 14px;
}


#bubble-chart {
    text-align: center;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}